.sidebar{
    background-color: lightgray;    
    border: solid 2px gray;
    border-radius: 0.3em;
    padding-top: 1em;
    text-align: center;
}
.canvasContainer{
    background-color: lightsteelblue;
}